*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    flex-flow: column;
}

.code-box{
    flex: 1;
    padding: 10px;
    height: 50%;
}
.code{
    height: 100%;
    overflow: hidden;
}
.preview-box{
    flex: 1;
    height: 50%;
}